body, html {
    height: 100%;
    margin: 0;
}

html {
    background-position: center;
    background-image: url('surf.jpg');
    background-size: cover;
    position: relative;
    padding: 0;

    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}
.closer {
    position: fixed;
    bottom: 0;
    left: 16px;
    font-size: 10px;
}

 .media img {
    display: inline-block;
}

.media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

h3, .closer {
    color: grey;
}

.media a {
    text-decoration: none;
    outline: none;
}
