body, html, #main {
    height: 100%;
    margin: 0;
}

html, #main {
    background-position: center;
    background-image: url('../images/surf.jpg');
    background-size: cover;
    position: relative;
    padding: 0;

    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}
.closer {
    position: fixed;
    bottom: 0;
    left: 16px;
    font-size: 10px;
}

 .media img {
    display: inline-block;
}

.media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

h3, .closer {
    color: grey;
}

.media a, .media img {
    text-decoration: none;
    outline: none;

    border: 0px;
    outline:0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        font-size: 18px;
    }

    #main .top iframe {
        height: 75px;
        width: 75px;
    }
}

.button1 {
    left: 16px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    text-align: center;
    padding: 10px 25px;
    background-color: #555555;
    color: white;
    border: 2px solid #555555;

}

.button1:hover {
    background-color: #664e4e;
    color: white;
}

#main iframe {
    position: absolute;
    top: 10px;
    right: 16px;
}




